body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    background: none;
}

img { border: 0; }
div { padding: 0; margin: 0; }
#warning, #pageof { display: none;  }
#pageof { float: right; }
.rt { text-align: right; }
#form { display:inline-block; }

label {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

#main {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

textarea {
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    height: 200px;
    font-size: 15px;
}

div.box {
    display: inline-block;
    text-transform: uppercase;
    margin: 3px 2px;
    font-weight: bold;
    -moz-box-shadow: 2px 4px 3px #888;
    -webkit-box-shadow: 2px 4px 3px #888;
    box-shadow: 2px 4px 3px #888;
}

#display {
    background-color: #333;
    display:inline-block;
    border-color: #333;
    border-style: solid;
    border-width: 2px 5px 4px 2px;
}

.rdiv {
    margin:0;
    padding:0;
    text-align: center;
    vertical-align: middle;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform-origin: 100% 100%;
        -webkit-transform: rotateX(0deg) skew(0deg, 0deg);
        background-color: #555;
    }
    100% {
        -webkit-transform-origin: 100% 100%;
        -webkit-transform: rotateX(90deg) skew(10deg, 0deg);
        background-color: #777;

    }
}

@-webkit-keyframes spin2 {
    0% {
        -webkit-transform-origin: 0% 0%;
        -webkit-transform: rotateX(90deg) skew(-5deg, 0deg);
        background-color: #777;
    }
    100% {
        -webkit-transform-origin: 0% 0%;
        -webkit-transform: rotateX(0deg) skew(0deg, 0deg);
        background-color: #555;
    }
}

.scale2 { -webkit-animation: spin2 0.08s infinite linear; }
.scale { -webkit-animation: spin 0.08s infinite linear; }
.dv > div > span { width:100%; vertical-align:middle }
.down > div { position:relative; top:-100%; }
.box span { display:inline-block }
.spn.bottom > .dv { z-index:5 }
.spn.top > .dv { z-index:15 }
.spn { position:absolute; }
.dv > div { height:200%; }
.spn.bottom { z-index:10 }
.spn.top { z-index:20 }

.dv {
    background-color: #555;
    color: #FFF;
    border:1px solid #333;
    display:block;
    overflow:hidden;
    text-align: center;
}

#nav a {
    display: inline-block;
    border: 1px solid transparent;
    margin: 2px 0;
    text-decoration: none;
    color: white;
    background-image:url('images/controlicon.jpg');
    height: 24px;
    width: 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#nav a:hover { border: 1px solid #CCC; }
#play { background-position: 171.5px -13px; }
#stop { background-position: 84px -13px; }
#rev { background-position: 215px -13px; }
#fwd { background-position: 40px -13px; }

#nav { margin: 2px 0; display: inline-block; }
#pfAppPanel { z-index:100 }
