body {
    margin: padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    background: #ebebeb url("images/gradient.jpg") repeat-x left top;
}

h1 {
    margin: 5px 0 0 0;
}

h2 {
    text-align:center;
    margin: 0 0 5px 0;
}

hr {
    border: 2px solid black;
}

img {
    border: 0;
}

div {
    padding:0;
    margin:0;
}

p {
    margin: 0 0 5px 0;
}

ol li {
    font-size: 20px;
    margin-bottom: 8px;
}

div.page {
    width: 980px;
    margin: auto;
}

label {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

fieldset {
    margin-bottom: 15px;
    clear: both;
}

fieldset p {
    font-size: 20px;
    font-style: italic;
}

fieldset ul {
    margin: 0;
    padding: 0;
}

fieldset ul li {
    list-style: none;
    padding: 5px;
    margin: 0 0 5px 0;
}

input[type="text"] {
    font-size: 15px;
    width: 800px;
}

textarea {
    font-family: Helvetica, sans-serif;
    width: 800px;
    height: 100px;
    font-size: 15px;
}

input[type="button"] {
    font-size: 15px;
    margin: 5px;
}

    #main { width:auto; margin: 0 auto; padding:0;}
    div.box { 
		font-size: 32pt; 
		display: inline-block; 
		border: 1px solid #333; 
		height: 45px; 
		width: 36px; 
		vertical-align: middle;
		line-height: 110%;
		text-transform: uppercase; 
		-moz-box-shadow: 1px 1px 5px gray;
		-webkit-box-shadow: 1px 1px 5px gray;
		margin: 3px 2px;
		background-color: #000;
		color: #FFF;
		font-weight: bold;	
    }
      #display { background-color: #FFF; border:1px solid #333; display:inline-block}
    .rdiv { margin:0; padding:0; text-align: center; vertical-align: middle}
