body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    background: none;
}

img { border: 0; }
#warning, #pageof { display: none;  }
#pageof { position: absolute; top: 10px; right: 0px; }
.rt { text-align: right; }

label {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

#main {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

#maind {
    margin: 0 auto;
    text-align: center;
}

textarea {
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    height: 200px;
    font-size: 15px;
}

#display {
    background-color: #555;
    border-color: #555;
    border-style: solid;
    border-width: 2px 4px 2px 2px;
}

#nav a {
    display: inline-block;
    border: 1px solid transparent;
    margin: 2px 0;
    text-decoration: none;
    color: white;
    background-image:url('images/icons.jpg');
    height: 30px;
    width: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#nav a:hover { border: 1px solid orange; }
#play { background-position: 165px -3px; }
#stop { background-position: 132px -3px; }
#rev { background-position: 501px -36px; }
#fwd { background-position: 468px -36px; }
#nav { margin: 2px 0; position: relative;}
#pfAppPanel { z-index:100 }

div.ibox { display: inline-block; }
div.down > div { position: relative; top: -100%; }
div.spn { position: absolute; top: 0; left: 0; }
div.text { height: 200%; }
div.text span { vertical-align: middle; }
div.top { z-index: 5; }
div.bottom { z-index: 1; }

div.box {
    display: inline-block;
    margin: 3px 2px;
    font-weight: bold;
    position:relative;
    -webkit-box-shadow: #222 3px 5px 1px;
}

div.dv {
    color: #FFF;
    overflow:hidden;
    border-style: solid;
    border-color:#222;
    background-color: #555;
}

div.scalea {
    -webkit-transition: -webkit-transform 0.25s ease-in 0s;
    -webkit-transform: rotate3d(1,0,0,90deg) skew(8deg, 0deg);
    -moz-transition: -moz-transform 0.25s ease-in 0s;
    -moz-transform: scaley(0) skew(8deg, 0deg);
}

div.scaleb {
    -webkit-transition: -webkit-transform 0.25s ease-out 0s;
    -webkit-transform: rotate3d(1,0,0,0deg) skew(0deg, 0deg) !important;
    -moz-transition: -moz-transform 0.25s ease-out;
    -moz-transform: scaley(1) skew(0deg, 0deg) !important;
}

div.sa {
    -webkit-transition: color 0.25s ease-in 0s;
    -moz-transition: color 0.25s ease-in 0s;
    color:#333;
}

div.up {
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    border-width: 1px;
}

div.down {
    border-width: 0 1px 1px 1px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333));
    background: -moz-linear-gradient(100% 100% 90deg, #333, #555);
}

div.sdown {
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform: rotate3d(1,0,0,90deg) skew(-8deg, 0deg);
    -moz-transform: scaley(0) skew(-8deg, 0deg);
}
